{% extends 'admin/layouts/base.twig' %}
{% block title %}{{ title }} - {% endblock %}

{% block content %}

<div id="subheader">
    <h3 class="page-title">{{ title | upper}}</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('app.home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
    <a href="{{ url_for('app.newsletter.export') }}" class="btn btn-secondary"><i class="fa fa-download" aria-hidden="true"></i> Exportar CSV</a>
</div>

{% include "components/notifications.twig" %}

<div id="filter">
    <form action="{{ url_for('app.newsletter') }}" method="GET">
        <div class="row">                   
            <div class="form-group col-sm-4">
                <input type="text" name="filtro" class="form-control" placeholder="Filtrar por e-mail ou nome" value="{{ filtros.filtro}}">
            </div>     
            <div class="form-group">
                <button class="btn btn-secondary">FILTRAR</button>
            </div>
        </div>
    </form>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th width="100">Data</th>
                        <th width="80">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in data %}
                    <tr>
                        <td>{{ r.nome ?: '-' }}</td>
                        <td>{{ r.email }}</td>
                        <td>
                            {% if r.telefone %}
                                <a href="https://wa.me/55{{ r.telefone|replace({' ': '', '(': '', ')': '', '-': ''}) }}" target="_blank">
                                    {{ r.telefone }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ r.data_cadastro|date('d/m/Y') }}</td>
                        <td>
                            <a class="btn btn-small confirm" alt="Excluir" title="Excluir" data-toggle="modal" data-target="#ConfirmModal" data-href="{{ url_for('app.newsletter.del', {'id': r.id}) }}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <em>Nenhuma inscrição encontrada</em>
                        </td>
                    </tr>
                    {% endfor %}                                                                       
                </tbody>
            </table>
            
            <div id="total_lista">Resultado total: <b>{{ total }}</b></div>

        </div>
    </div>
</div>

{% endblock %} 