{% extends 'admin/layouts/base.twig' %}
{% block title %}{{ title }} - {% endblock %}

{% block content %}

<div id="subheader">
    <h3 class="page-title">{{ title | upper}}</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path_for('app.home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
    <a href="{{ path_for('app.'~page~'.create')}}" class="btn btn-primary btnp"><i class="fa fa-plus-circle" aria-hidden="true"></i> Adicionar</a>
</div>

{% include "components/notifications.twig" %}

<div id="filter">
    <form action="{{ path_for('app.'~page )}}" method="GET">
        <div class="row">                   
            <div class="form-group col-sm-4">
                <input type="text" name="filtro" class="form-control" placeholder="Filtro" value="{{ filtros.filtro}}">
            </div>     
            <div class="form-group">
                <button class="btn btn-primary">FILTRAR</button>
            </div>
        </div>
    </form>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Nível</th>
                        <th>Perfil</th>
                        <th width="220">Status</th>
                        <th width="100">Data</th>
                         <th width="150"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in data %}
                    <tr>
                        <td>{{ r.nome | title }} {{ r.sobrenome | title }}</td>
                        <td>
                            {% if r.nivel == '0' %}
                                Administrador
                            {% else %}
                                Usuário
                            {% endif %}
                        </td>
                        <td>
                            {% if r.perfil == 'lider' %}
                                Líder do Projeto
                            {% elseif r.perfil == 'equipe' %}
                                Equipe Fundação
                            {% elseif r.perfil == 'coordenador' %}
                                Coordenadores
                            {% endif %}
                        </td>
                        <td>
                            {% if r.status == 'A' %}
                                Aprovado
                            {% elseif r.status == 'D' %}
                                Bloqueado
                            {% endif %}
                        </td>
                        <td>{{ r.created_at | date('d/m/Y') }}</td>
                        <td>
                            {% if r.id > 1 %}
                            <a href="{{ path_for('app.'~page~'.edit', {'id': r.id}) }}{{ url_querys }}" class="btn btn-small" alt="Editar" title="Editar"><i class="fa fa-cog"></i></a>
                            
                                {% if r.id != session.user %}
                                <a id="266" class="btn btn-small confirm" alt="Excluir" title="Excluir" data-toggle="modal" data-target="#ConfirmModal" data-href="{{ path_for('app.'~page~'.del', {'id': r.id}) }}{{ url_querys }}"><i class="fa fa-trash-o"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}                                                                       
                </tbody>
            </table>
            
            <div id="total_lista">Resultado total: <b>{{data.total}}</b></div>
            <div id="total_lista"><b>{{ pagesLink | raw }}</b></div>            

        </div>
    </div>
</div>

{% endblock %}

{% block js %}
  <script>
    $(document).ready(function() {
       //teste
    });
  </script>
{% endblock %}