<!-- Related Products -->
<section class="py-5 bg-light">
        <div class="container">
            <h3 class="mb-4 animate animate-up">Nossos produtos</h3>
            <div class="row g-4">
                <div class="col-md-3 animate animate-up">
                    <div class="card h-100 border-0">
                        <img src="{{ base_path() }}/assets/site/images/produtos/produto_sacola_plastica.png" class="card-img-top p-3" alt="Sacolas de Plástico">
                        <div class="card-body">
                            <h5 class="card-title">SACOLAS DE PLÁSTICO</h5>
                            <p class="card-text text-muted">Sacolas em plástico resistente com sua marca</p>
                            <a href="{{ url_for('produtos.sacolas-plastico') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3 animate animate-up">
                    <div class="card h-100 border-0">
                        <img src="{{ base_path() }}/assets/site/images/produtos/produto_sacola_papel.png" class="card-img-top p-3" alt="Sacolas de Papel">
                        <div class="card-body">
                            <h5 class="card-title">SACOLAS DE PAPEL</h5>
                            <p class="card-text text-muted">Sacolas personalizadas em papel</p>
                            <a href="{{ url_for('produtos.sacolas-papel') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3 animate animate-up">
                    <div class="card h-100 border-0">
                        <img src="{{ base_path() }}/assets/site/images/produtos/produto_impressos.png" class="card-img-top p-3" alt="Impressos Comerciais">
                        <div class="card-body">
                            <h5 class="card-title">IMPRESSOS GRÁFICOS</h5>
                            <p class="card-text text-muted">Material gráfico personalizado para sua empresa</p>
                            <a href="{{ url_for('produtos.impressos') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-3 animate animate-up">
                    <div class="card h-100 border-0">
                        <img src="{{ base_path() }}/assets/site/images/produtos/produto_envelope.png" class="card-img-top p-3" alt="Envelopes para Envio">
                        <div class="card-body">
                            <h5 class="card-title">ENVELOPES PARA ENVIO</h5>
                            <p class="card-text text-muted">Envelopes personalizados para suas remessas</p>
                            <a href="{{ url_for('produtos.envelopes') }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>