<div class="row g-4 text-center">
    {% for p in configs.produtos %}
    <div class="col-md-6 col-lg-6 animate animate-up">
        <div class="card h-100 border-0 bg-light">
            {% if p.imagens|length > 0 %}
                <img src="{{ base_path() }}/assets/uploads/produtos/{{ p.imagens[0].imagem }}" class="card-img-top p-4" alt="{{ p.nome }}">
            {% endif %}
            <div class="card-body">
                <h3 class="h5 card-title">{{ p.nome|upper }}</h3>
                <div class="mx-auto" style="width: 50px; height: 3px;  background-color: #ffd700;"></div>
            </div>
            <a href="{{ url_for('produtos.detalhe', {'slug': p.slug}) }}" class="stretched-link"></a>
        </div>
    </div>
    {% endfor %}
</div>