<!-- Related Products -->
<section class="py-5 bg-light">
        <div class="container">
            <h3 class="mb-4 animate animate-up">Nossos produtos</h3>
            <div class="row g-4">
                {% for p in configs.produtos %}
                <div class="col-md-3 animate animate-up">
                    <div class="card h-100 border-0">
                        {% if p.imagens|length > 0 %}
                            <img src="{{ base_path() }}/assets/uploads/produtos/{{ p.imagens[0].imagem }}" class="card-img-top p-3" alt="{{ produto_rel.nome }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ p.nome|upper }}</h5>
                            <a href="{{ url_for('produtos.detalhe', {'slug': p.slug}) }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>