{% extends 'admin/layouts/base.twig' %}
{% block title %}{{ title }} > Add - {% endblock %}

{% block content %}

<div id="subheader">
    <h3 class="page-title">{{ title | upper}}</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('app.home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('app.'~page) }}">{{ title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Adicionar</li>
        </ol>
    </nav>
    <a href="{{ url_for('app.'~page)}}" class="btn btn-secondary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Voltar</a>
</div>

{% include "components/notifications.twig" %}

<form action="{{ url_for('app.'~page~'.create' )}}" method="POST" enctype="multipart/form-data" id="validate">

<div class="panel">
    <div class="panel-body">
    
        <h3>DADOS</h3>
        <div class="row">                   
            <div class="form-group col-sm-7">
                <label>Nome do Produto:</label>
                <input type="text" name="nome" class="form-control" validate>
            </div>
            <div class="form-group col-sm-2">
                <label>Ordem:</label>
                <input type="text" name="ordem" class="form-control" validate>
            </div>
            <div class="form-group col-sm-3">
                <label>Status:</label>
                <select name="status" class="form-control" validate>
                    <option value="A">Ativo</option>
                    <option value="D">Inativo</option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label>Título:</label>
                <input type="text" name="titulo" class="form-control" validate>
            </div>
            <div class="form-group col-sm-12">
                <label>Subtítulo:</label>
                <input type="text" name="subtitulo" class="form-control">
            </div>
            
            <div class="form-group col-sm-12">
                <label>Descrição:</label>
                <textarea name="descricao" class="form-control summernoteConteudo" rows="3" validate></textarea>
            </div>
            <div class="form-group col-sm-12">
                <label>Detalhes:</label>
                <textarea name="detalhes" class="form-control summernote" rows="3"></textarea>
            </div>
            <div class="form-group col-sm-6">
                <label>Características:</label>
                <textarea name="caracteristicas" class="form-control summernote" rows="3"></textarea>
            </div>
            <div class="form-group col-sm-6">
                <label>Aplicação:</label>
                <textarea name="aplicacao" class="form-control summernote" rows="3"></textarea>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <h4>FOTOS</h4>
        <input type="file" id="upload" name="imagens[]" data-fileuploader-files='' accept="image/jpeg, image/jpg, image/png, image/gif">  
    </div>

    <div class="content-buttom">
        <button class="btn btn-primary btn-lg">ENVIAR <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
        <div id="formErro"></div>
    </div>

</div>    

</form>

{% endblock %}

{% block js %}

<!-- UPLOAD -->
<link href="{{ base_path() }}/assets/admin/js/upload/jquery.fileuploader.css" media="all" rel="stylesheet">		
<link href="{{ base_path() }}/assets/admin/js/upload/jquery.fileuploader-theme-thumbnails.css" media="all" rel="stylesheet">
<script src="{{ base_path() }}/assets/admin/js/upload/jquery.fileuploader.min.js" type="text/javascript"></script>
<script src="{{ base_path() }}/assets/admin/js/upload/custom.js" type="text/javascript"></script>

{% endblock %}