{% extends 'admin/layouts/base.twig' %}
{% block title %}{{ title }} > Edit - {% endblock %}

{% block content %}

<div id="subheader">
    <h3 class="page-title">{{ title | upper}}</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('app.home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('app.'~page) }}">{{ title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
    <a href="{{ url_for('app.'~page)}}" class="btn btn-secondary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Voltar</a>
</div>

{% include "components/notifications.twig" %}

<form action="{{ url_for('app.'~page~'.update', {'id': d.id} )}}" method="POST" enctype="multipart/form-data" id="validate">
<div class="panel">
    <div class="panel-body">
    
        <h3>DADOS</h3>
       <div class="row">
            <div class="form-group col-sm-9">
                <label>Cliente:</label>
                <input type="text" name="nome" class="form-control" value="{{ d.nome }}" validate>
            </div>            
            <div class="form-group col-sm-3">
                <label>Ordem:</label>
                <input type="text" name="ordem" class="form-control" value="{{ d.ordem }}" validate>
            </div>   
            <div class="form-group col-sm-12">
                <label>Logo: <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="imagem JPG ou PNG com 900x500px."></i>
                    {% if d.imagem %}
                    <a class="btn btn-micro" alt="View" title="View" target="new" href="{{ base_path() }}/assets/uploads/{{ page }}/{{ d.imagem }}"><i class="fa fa-eye"></i></a>
                    {% endif %}
                </label>
                <input class="form-control" type="file" name="imagem"  accept="image/x-png,image/gif,image/jpeg">
            </div>
        </div>

    </div>

    <div class="content-buttom">
        <button class="btn btn-primary btn-lg">ENVIAR <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
        <div id="formErro"></div>
    </div>

</div>    

</form>



{% endblock %}

{% block js %}
{% endblock %}